<div class="parallax-container">
	<div class='heading left-align'>
		<h1>Summon your ipsum</h1>
		<h2>...in ten heartbeats</h2>
	</div>

      <div materialize="parallax">
				<img src="https://i.ytimg.com/vi/-n3OjESE9aU/maxresdefault.jpg">
			</div>
</div>

<div class="section white">
	<div class="row center-align">
    <div class="col s4 center-align">
      <h5>Number of paragraphs: </h5>
      <div class="input-field inline">
        <input id="number" type='number' min='1' [(ngModel)]="num" [placeholder]="num">
      </div>
		</div>
		<div class="col s4 center-align">
			<h5>Short paragraphs or long ones?</h5>
			<div class="switch">
				<label>
					Short
					<input type="checkbox">
					<span class="lever" (click)="changeLength()"></span>
					Long
				</label>
			</div>
		</div>
		<div class="col s4">
			<a
				class="waves-effect waves-light btn"
				id="get"
				(click)="getIpsum()"
				>Summon <i class="material-icons right">play_arrow</i></a>
		</div>
  </div>
	<div class="row container">
		<div *ngIf="long; else short">
			<h5 id="ipsumTarget" *ngFor="let ipsum of ipsumArray" [innerHTML]="ipsum"></h5>
		</div>
		<ng-template #short>
			<h5 id="ipsumTarget" *ngFor="let ipsum of ipsumArray" [innerHTML]="ipsum"></h5>
		</ng-template>
	</div>
</div>
